<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <form [formGroup]="form1" (ngSubmit)="submit()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input formControlName="email" type="email" class="form-control">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input formControlName="password" type="password" class="form-control">
            </div>
            <button [disabled]="form1.invalid" type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>