<div class="row">
  <div class="col-md-8">
    <div class="p-3">
      <button type="button" class="btn btn-primary" routerLink="add">Add Post</button>
    </div>
    <table class="table" *ngIf="posts | async as postsData">
      <thead>
        <tr>
          <th scope="col">Post #</th>
          <th scope="col">Post Title</th>
          <th scope="col">Post Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postsData">
          <th>{{post.id}}</th>
          <td>{{post.title}}</td>
          <td>{{post.description}}</td>
          <td>
            <button type="button" class="btn btn-primary me-3" [routerLink]="['edit', post.id]">Edit</button>
            <button type="button" class="btn btn-danger" (click)="delete(post.id)">Delete</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>